:root {
  --sidebar-bg: #190f4a;
  --sidebar-hover: #2e2677;
  --sidebar-text: #ffffff;
  --sidebar-width: 240px;

  --appbar-height: 70px;
  --appbar-bg: #ffffff;
  --appbar-text: #190f4a;

  --primary-color: #190f4a;
  --primary-hover: #2e2677;

  --table-header-bg: #f5f4fa;
  --table-border: #e3e3e3;
  --radius-md: 8px;
  --radius-lg: 12px;
  --transition: 0.2s ease;
}

.main-layout {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 270px;
  overflow: hidden;
}

/* Tablets */
@media (max-width: 1024px) {
  .main-layout {
    padding-left: 200px; /* smaller sidebar area */
    padding-right: 15px;
  }
}

/* Large phones */
@media (max-width: 768px) {
  .main-layout {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 80px;
  }
}

/* Small phones */
@media (max-width: 480px) {
  .main-layout {
    padding-left: 0;
    padding-right: 8px;
    padding-top: 70px;
  }
}
/* =========================
   Global Button Style
========================= */
.add-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: var(--radius-md);
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  transition: var(--transition);
}

.add-button:hover {
  background-color: var(--primary-hover);
}

.add-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none !important;
}

.add-button:disabled:hover {
  background-color: inherit !important;
  color: inherit !important;
}

.main-header {
  font-style: bold;
  font-size: px;
  color: var(--primary-color);
}
/* =========================
   Global Table Styles
========================= */

.table-container {
  width: 100%;
  background: #fff;
  border-radius: var(--radius-lg);
  padding: 20px;
  border: 1px solid var(--table-border);
  box-sizing: border-box;
  padding-bottom: 70px;
}

.table-header-row {
  background: var(--table-header-bg);
  font-weight: 600;
  overflow-x: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 700px;
}

.table-header-row {
  background: var(--table-header-bg);
}

.custom-table th,
.custom-table td {
  padding: 12px 16px;
  border-bottom: 1px solid var(--table-border);
  font-size: 14px;
}

.custom-table th {
  font-size: 15px;
  font-weight: 600;
}
/* GLOBAL EDIT BUTTON */
.edit-button-global {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 10px 24px;
  border: none;
  border-radius: var(--radius-md);
  font-size: 14px;
  font-weight: 500;
  margin: 25px auto 0 auto;
  display: block;
  cursor: pointer;
  transition: var(--transition);
}

.edit-button-global:hover {
  background-color: var(--primary-hover);
}
